@model CrowdFundMVC.Models.ProjectOptionModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@if (Model == null)
{
    <div class="alert alert-primary" role="alert">
        Project Not Found!
    </div>
    return;
}
<div class="container-fluid" style="margin-top50px; padding: 50px; border-radius: 15px 50px; width:80%;background-color:white">
    <input class="" id="js-userId-fund" type="hidden" value="@Model.project.UserId" />
    <input class="" id="js-projectId-fund" type="hidden" value="@Model.project.Id" />



    <div class="card mb-3" style="padding:15px">
        <div class="row">
            <p class="card-text" style="padding:15px">
                <b>Category: </b>@Model.project.Categories
            </p>
        </div>
        <img class="card-img-top" src="~/uploadedimages/@Model.project.Photo" alt="Card image cap">
        <div class="card-body" style="padding:15px">
            <div class="row">
                <h4 class="text-center"><b><i>@Model.project.Title</i></b></h4>
            </div>
            <br />
            <p class="card-text"><b>Description: </b>@Model.project.Description</p>
        </div>

        <div class="card-body" style="padding:15px;margin-right:10px">
            <div class="row">
                <input type="hidden" id="projectid" value="@Model.project.Id" />
                @*<p class="card-text " id="projectId"> <b>Project Id:</b> @Model.project.Id</p>*@
                <p class="card-text" style="margin:0px 15px"><b>Amount:</b>@Model.project.Amount</p>
                <p class="card-text" style="margin:0px 15px"><b>Fundings: </b>@Model.project.Fundings</p>
            </div>
            <br />
            <div>
                <p class="card-text"><b>Financial Progress: </b>@Model.project.Update</p>
            </div>

            @{var prog = ((decimal)Model.project.Fundings / (decimal)Model.project.Amount) * 100;
                var progress = prog.ToString();
                progress = progress + '%';
            }
            <input class="" id="js-ProjectId-fund" type="hidden" value="" />

            <div class="progress">
                <div class="progress-bar progress-bar-animated progress-bar-striped" role="progressbar" style="width:@progress;" aria-valuenow="@Model.project.Fundings" aria-valuemin="0" aria-valuemax="@Model.project.Amount"></div>
            </div>
            <p class="card-text">Created On: @Model.project.Created</p>
            <a href="~/home/DeleteProjectFromView/@Model.project.Id"><img src="~/img/delete.png" style="width:25px;margin: 0px 10px;float:right" /></a>
            <a href="~/home/updateProjectwithdetails/@Model.project.Id"><img src="~/img/update.png" style="width:25px;margin: 0px 5px;float:right" /></a>
        </div>

            <div class="container-fluid">
                <div id="packages" class="row">
                    @{
                        foreach (var package in Model.packages)
                        {                          
                            <div class="col-md-4">
                                                    <div class="card" style="padding:20px;height:450px;margin:30px">
                                                        <img src="~/img/Packages.jpg" style="height:150px;width:auto" />
                                                        <p><b>Package Id: </b>@package.Id</p>
                                                        <p><b>Picked: @package.Count times</b></p>
                                                        <p><b>Description: </b>@package.Description</p>
                                                        <p><b>Reward: </b>@package.Reward</p>
                                                        <input class="" id="js-packageId-fund" type="hidden" value="@package.Id" />
                                                        <input class="" id="js-reward-fund" type="hidden" value="@package.Reward" />
                                                        <button type="button" , id="fundProject-@package.Id" style="color:white;background-color:lightseagreen;width:100px;height:40px;border-radius:6px;text-align:center;padding:5px;position:center;margin:5px">Fund</button>
                                                    </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="alert alert-success" id="success-alert-project" role="alert">
                Your Funding was accepted! Thank you!
            </div>
        </div>
        </div>
        <div class="row">
            @*<a href="~/home/Packages/@Model.project.Id" style="color:white;background-color:royalblue;width:150px;height:40px;border-radius:6px;margin:20px;text-align:center;padding:5px;position:center">View Packages</a>*@
            @*<a href="~/home/Projects" style="color:white;background-color:slategray;width:150px;height:40px;border-radius:6px;text-align:center;padding:5px;position:center">Back</a>*@
        </div>







    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</div>
