@model CrowdFundMVC.Models.ProjectOptionModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CrowdFundMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/_layout.css" />
</head>
</html>
<body>
    <div class="container-fluid" style="margin:100px 200px 100px 200px; padding: 50px; border-radius: 15px 50px; width:60%;background-color:white">
        <h2 style="text-align:center"> Update your Project: <b><i>@Model.project.Title</i></b></h2>

<form >


    <div class="form-group">
        <label for="exampleFormControlInput1">Id</label>
        <input type="text" class="form-control" id="ProjectId" value="@Model.project.Id" readonly>
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Title</label>
        <input type="email" class="form-control" id="Title" value="@Model.project.Title">
    </div>
    <div class="form-group">

                <select class="custom-select" id="Categories">
                    <option selected>Choose a category</option>
                    <option>Technology</option>
                    <option>Food</option>
                    <option>Education</option>
                    <option>Music</option>
                    <option>Fashion</option>
                    <option>Photography</option>
                    <option>Travel</option>
                    <option>Health</option>
                    <option>WebSeries</option>
                    <option>Transportation</option>
                </select>
            </div>

    <div class="form-group">
        <label for="exampleFormControlTextarea1">Description</label>
        <textarea class="form-control" id="Description" rows="3" value="@Model.project.Description"></textarea>
    </div>
    <div class="custom-file">
        <input type="file" class="custom-file-input" id="Picture">
        <label class="custom-file-label" for="Picture">Choose a Picture</label>
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Amount</label>
        <input type="number" class="form-control" id="Amount" value="@Model.project.Amount">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Fundings</label>
        <input type="number" class="form-control" id="Fundings" value="@Model.project.Fundings" readonly>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Update Status Post</label>
        <textarea class="form-control" id="Update" rows="2" value="@Model.project.Update"></textarea>
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Created on</label>
        <input type="text" class="form-control" value="@Model.project.Created" readonly>
    </div>
    <button type="button" class="btn btn-primary btn-lg btn-block" id="updateProject">Update</button>

            <a href="~/home/updatepackage/"><button type="button" class="btn btn-primary btn-lg btn-block bg-primary">Update packages</button></a>

            <div class="alert alert-success " id="success-alert-project" role="alert">
                Project was updated successsfully!
            </div>
            <div class="alert alert-danger" id="danger-alert-project" role="alert">
                Project could not be updated.Try again.
            </div>

        </form>
    </div>
</body>
