@model CrowdFundMVC.Models.ProjectOptionModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@if (Model == null)
{
    <div class="alert alert-primary" role="alert">
        Project Not Found!
    </div>
    return;
}
<div class="row">
    @{
        foreach (var package in Model.packages)
        {
            <input class="" id="js-packageId-fund" type="hidden" value="@package.Id" />
            <input class="" id="js-reward-fund" type="hidden" value="@package.Reward" />

            <div class="col-md-4">
                <div class="card" style="padding:20px;height:450px;margin:30px">
                    <img src="~/img/Packages.jpg" style="height:150px;width:auto" />
                    <p><b>Package Id: </b>@package.Id</p>
                    <p><b>Picked: @package.Count times</b></p>
                    <p><b>Description: </b>@package.Description</p>
                    <p><b>Reward: </b>@package.Reward</p>
                    <button type= "button" , id="fundProject" class="btn btn-outline-info"style="padding:5px;margin:5px">Fund</button>
                </div>
            </div>

        }
    }
</div>