
@model CrowdFundMVC.Models.UserModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2 style="text-align:center">Users</h2>
<div class="row">
    @{
        foreach (var user in Model.Users)
        {

            <div class="col-md-3">
                <div class="card" style="padding:20px;height:500px">

                    <img src="/img/avatarf.png" alt="Avatar" style="width:200px;position:center">

                    <p><b>FirstName: </b>@user.FirstName</p>
                    <p><b>LastName: </b>@user.LastName</p>
                    <p><b>Email: </b>@user.Email</p>
                    <p><b>UserId: </b>@user.Id</p>
                    <div class="row>">
                    <a href="~/home/updateuserwithdetails/@user.Id" style="color:white;background-color:royalblue;width:150px;height:40px;border-radius:6px;margin:10px;text-align:center;padding:5px;position:center">Edit User</a>
                    <a href="~/home/DeleteUserFromView/@user.Id" style="color:white;background-color:darkred;width:150px;height:40px;border-radius:6px;text-align:center;margin:10px;padding:5px;position:center">Delete User</a>
                    </div>
                </div>
            </div>


        }
    }

</div>
@*<h1> User Management</h1>

    <table id="userTable" border="1" cellpadding="10" cellspacing="0">
        <tr>
            <th> Code </th>
            <th> FirstName</th>
            <th> LastName</th>
            <th>Email</th>
            <th>Password</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>*@

@*@{
        foreach (var user in Model.Users)
        {
            <tr>
                <td> @user.Id</td>
                <td> @user.FirstName</td>
                <td> @user.LastName</td>
                <td> @user.Email   </td>
                <td> @user.Password   </td>
                <td> <a href="~/home/updateuserwithdetails/@user.Id"><img src="https://image.flaticon.com/icons/png/512/84/84380.png" width="25" /></a>Update</td>
                <td> <a href="~/home/DeleteUserFromView/@user.Id"><img src="https://icons-for-free.com/iconfiles/png/512/delete+remove+trash+trash+bin+trash+can+icon-1320073117929397588.png" width="25" /></a>Delete</td>
            </tr>

        }
    }
    </table>*@
